/* BLUE */
$colorBlue7: #002849;
$colorBlue8: #16325C;
$colorBlue9: #0745FF;
$colorBlue10: #2765FF;
$colorBlue11: #45AEF1;
$colorBlue12: #3D9CD6;
$colorBlue13: #72d1f9;
$colorBlue14: #2C6AFF;
$colorBlue15: #0088BE;
$colorBlue16: #2CC0CE;

$colorBlueGray1: #A8B7C7;
$colorBlueGray2: #7A9FB8;
$colorBlueGray3: #4C687F;
$colorBlueGray4: #7F93A4;
$colorBlueGray5: #F4F6F9;
$colorBlueGray6: #D8DDE6;
$colorBlueGray7: #54698D;

$colorBlueGray: $colorBlueGray1;

/* Red */
$colorRed1: #ff2400;
$colorRed2: #C85728;
$colorRed3: #c23934;
$colorRed4: #D72B8B;
$colorRed: $colorRed1;

/* White */
$colorWhite1: #FFFFFF;
$colorWhite2: #f0f2f7;
$colorWhite3: #F0EFF3;
$colorWhite4: #E9F1F3;
$colorWhite5: #f4f6f9;
$colorWhite: $colorWhite1;

/* Black */
$colorBlack1: #000000;
$colorBlack2: #393939;
$colorBlack3: #273238;
$colorBlack: $colorBlack1;

/* Gray */
$colorGray1: #f6f6f6;
$colorGray2: #e6e6e6;
$colorGray3: #989898;
$colorGray4: #717171;
$colorGray5: #d6d6d6;
$colorGray6: #333333;
$colorGray8: #9FAAB5;
$colorGray9: #F4F6F9;
$colorGray: $colorGray2;

/* Yellow */
$colorYellow1: #FDC139;
$colorYellow: $colorYellow1;

/* Orange */
$colorOrange1: #F5A433;
$colorOrange2: #F6A520;
$colorOrange: $colorOrange1;

/* Tan */
$colorTan1: #fef8e8;
$colorTan2: #fdf1c1;
$colorTan: $colorTan1;

/* PURPLE */
$colorPurlple1: #1B1464;
$colorPurple2: #556a8c;
$colorPurlple: $colorPurlple1;

/* GREEN */
$colorGreen1: #68BC45;
$colorGreen2: #8DC63F;
$colorGreen3: #92C65D;
$colorGreen4: #009194;
$colorGreen: $colorGreen1;


/*GRAPHS/CHARTS*/

$colorBlueChart1: #3F72B8;
$colorBlueChart2: #37C6F4;
$colorBlueChart3: #1D6790;
$colorBlueChart4: #0d89b1;
$colorBlueChart5: #B6E3F6;

$colorPurlpleChart1: #2D358E;

$colorTealChart1: #37C0CD;

$colorGreenChart1: #527E3C;
$colorGreenChart2: #93C563;
$colorGreenChart3: #C1E1C1;
$colorGreenChart4: #0F9193;

// New Colors

// newBackground: $colorWhite1;
// newDarkBackground: $colorBlueGray5;
// newBorder: $colorBlueGray6;
// newTextBorder: $colorBlueGray1;
// newText: $colorBlue8;
// newBlack: $colorBlack3;
// newBrightBlue: $colorBlue9;
// newBrightBlueHover: $colorBlue10;
// newYellow: $colorYellow1;
